<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.j4rs.standup-echo</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/jorge.rodriguez/workspace/standup-echo/bin/standup-echo</string>
        <string>serve</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/jorge.rodriguez/.config/standup-echo/output.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/jorge.rodriguez/.config/standup-echo/error.log</string>
</dict>
</plist>
